.subtitle {
    font-size: large;
}

.padding {
    padding-top: 100px;
}

body {
    background-color: black;
}

img {
    padding-top: 20px;
}

h2 {
    text-align:center;
    color: white;
}

footer {
    background-color: white;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#logo{
    border: 2px solid;
    max-width: fit-content;
    color: white;
}


#resultImg {
    width: 300px;
    height: 300px;
    text-align: center;
}

#resultText {
    font-size:xx-large;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
    color:white;
  }

#container {
    background-color:darkgray;
    border: 5px solid white;
    display: grid;
    justify-items: center;
    width: 400px;
    margin: auto;
    position: relative;
}

@media only screen and (max-width: 768px) {
    
}