body {background-color: black;}

a {
    text-decoration: none;
}

h2 {
    color: white;
    text-align: center;
}

#logo {
    border: 2px solid;
    max-width: fit-content;
    color: white;
}

.cell {
    width: 75px;
    height: 75px;
    text-align: center;
    color: white;
}

.container {
    border: 2px solid white;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    width: 375px;
    margin: auto;
}