.logo {
    border-color: white;
    border: 2px solid;
    max-width: fit-content;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.title {
    font-size: xx-large;
}

.subtitle {
    font-size: large;
}

a:visited {
    color: white;
}

.cell {
    width: 350px;
    height: 350px;
    border: 2px solid;
    text-align: center;
}

#cellContainer {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    max-width: 100%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    
}